// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

  div#logoText a{
    color: #f1f1f1;
    text-decoration: none;
  }
  
  div#logo{
    margin-bottom: 12px;
  }